/* site desenvolvido por VINICIUS SANTOS */
/* entre em contato por @vinisantoszx*/

/* FINALIZADO DIA 23/09/2024 */

footer {
    /* background-color: #9524ff; */
    background: #963ede;
    background: linear-gradient(90deg,rgba(150, 62, 222, 1) 0%, rgba(87, 64, 219, 1) 17%, rgba(61, 61, 212, 1) 34%, rgba(63, 217, 89, 1) 51%, rgba(255, 247, 0, 1) 68%, rgba(255, 106, 0, 1) 85%, rgba(245, 42, 42, 1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;

    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h2 {
    font-size: 18px;
    margin-top: 0;

    font-weight: bold;
    font-family: "Radio Canada", system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.footer-column p, .footer-column a {
    color: #fff;

    font-size: 14px;
    margin: 5px 0;
    text-decoration: none;

    font-family: "Radio Canada", system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.footer-column a {
    color: #fff;

    transition: 0.2s;
}

.footer-column a:hover {
    color: #000000;

    text-decoration: underline;
    transition: 0.2s;
}

.social-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones dentro da coluna */
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;

    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    color: #000;

    font-weight: bolder;
    text-decoration: none;
}